body {
    background-color: #463d36;
}

.container {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto;
    padding: 40px;
    color: #463d36;
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #a6192e;
    margin-bottom: 0;
}

p {
    font-size: 28px;
}

button {
    padding: 30px 40px;
    background-color: #463d36;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}