.sidebar {
    background-color: midnightblue;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.sidebar button {
    position: fixed;
    top: 0;
    right: 0;
}