body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: teal;
    height: 200px;
    width: 200px;
    animation: 2s move ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(300px);
        background-color: tomato;
    }
}