body {
    background-color: orangered;
}

@media (min-width: 800px) {
    body {
        background-color: cyan;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}