h1 {
    color: rgb(255, 0, 0)
}

h2 {
    color: rgb(0, 0, 200)
}

h3 {
    /* color: #00ee00; */
    color: #0e0;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

p {
    background-color:rgba(0, 0, 255, 0.5);
}

div {
    background-color: #ec6666;
    opacity: 50%;
}